@import url("../../styles/global.css");
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 99;
  height: 10rem;
  width: 100%;
  padding: 5rem;

  font-family: "Poppins", sans-serif;
  background: rgba(255, 255, 255, 0.13);
  box-shadow: 0 0.8rem 3.2rem 0 rgba(31, 38, 135, 0.3);
  backdrop-filter: blur(7.5px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.18);

  position: fixed;
  top: 0;
}

.header__navigation {
  display: flex;
  align-items: center;
  color: var(--grey-primary);
  font-size: 2rem;
}

.header__navigation-item {
  transition: ease-out;
  transition-duration: 160ms;
  list-style: none;
}

.header__navigation-link {
  all: unset;
  text-decoration: none;
}

.header__navigation-item:hover {
  cursor: pointer;
  color: var(--grey-secondary);
  transition: ease-in;
  transition-duration: 160ms;
}

.header__logo {
  width: 6rem;
  border: solid 1px var(--green-neon);
  border-radius: 50%;
  cursor: pointer;
  transition: ease-out;
  transition-duration: 100ms;
}

.header__logo:hover {
  box-shadow: 1px 1px 10px 2px var(--green-neon);
  transform: scale(1.1);
  transition: ease-in;
  transition-duration: 110ms;
}

.header__button--close,
.header__button--open {
  display: none;
  width: 6rem;
}

.header__button-responsive {
  all: unset;
}

.hide {
  display: none;
}

.header__navigation-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

@media (max-width: 770px) {
  .header__navigation-item {
    font-size: 1.9rem;
  }

  @media (max-width: 600px) {
    .header__navigation-item {
      display: none;
    }

    .header__button--close,
    .header__button--open {
      display: block;
    }

    .header {
      justify-content: end;
    }

    .header__logo {
      display: none;
    }
  }
}
