@import url("../../styles/global.css");
.container-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 10rem;
  width: 100%;
  padding: 5rem;

  font-family: "Poppins", sans-serif;
  background: rgba(255, 255, 255, 0.13);
  box-shadow: 0 0.8rem 3.2rem 0 rgba(31, 38, 135, 0.3);
  backdrop-filter: blur(7.5px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.18);

  position: fixed;
  top: 0;
}

.section-titles {
  display: flex;
  align-items: center;
  color: var(--grey-primary);
  font-size: 2rem;
}

.section-titles_item {
  transition: ease-out;
  transition-duration: 160ms;
  margin-right: 2.2rem;
}

.section-titles_link {
  all: unset;
  text-decoration: none;
}

.section-titles_item:hover {
  cursor: pointer;
  color: var(--grey-secondary);
  transition: ease-in;
  transition-duration: 160ms;
}

.header-logo-icon {
  width: 6rem;
  border: solid 1px var(--green-neon);
  border-radius: 50%;
  cursor: pointer;
  transition: ease-out;
  transition-duration: 100ms;
}

.header-logo-icon:hover {
  box-shadow: 1px 1px 10px 2px var(--green-neon);
  transform: scale(1.1);
  transition: ease-in;
  transition-duration: 110ms;
}

.section-titles_menu {
  display: none;
  width: 6rem;
}

@media (max-width: 770px) {
  .section-titles_item {
    font-size: 1.9rem;
  }
}

@media (max-width: 600px) {
  .section-titles_item {
    display: none;
  }

  .section-titles_menu {
    display: block;
  }
}
