.container-project-card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 17rem;
  height: 22rem;
  padding: 1rem;

  font-family: "Poppins", sans-serif;

  background: rgba(255, 255, 255, 0.13);
  box-shadow: 0.8rem 0.5rem 3.2rem 0 rgba(2, 4, 44, 0.3);
  backdrop-filter: blur(7.5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 0.5rem;
  cursor: pointer;
  transition: ease-out;
  transition-duration: 180ms;
}

.container-project-card:hover {
  transform: scale(1.03);
  transition: ease-in;
  transition-duration: 180ms;
}

@media (max-width: 450px) {
  .container-project-card {
    width: 12rem;
    height: 17rem;
  }

  .project-card_title {
    font-size: 2rem;
  }
}
