.container-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  z-index: 99;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  padding: 1rem;
  color: var(--grey-secondary);
  cursor: pointer;
  transition: ease-out;
  transition-duration: 180ms;
}

.container-contact:hover {
  transform: scale(1.05);
}

.contact-img {
  width: 6rem;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.contact-title {
  font-size: 1.2rem;
}
