@import url("../../styles/global.css");
@import url("https://fonts.googleapis.com/css2?family=Carme&family=Inter+Tight:wght@300&display=swap");
.container-main {
  display: flex;
  flex-direction: column;

  min-height: calc(100vh - 10rem);
  max-width: 100vw;
  background-color: #1c1b21;
  position: relative;
}

.section-profile {
  width: 100%;
  min-height: 100%;
  background-image: linear-gradient(to right, #327ade, #153777, #0b1133);
  display: flex;
  justify-content: space-around;
  padding: 20rem 10rem;
  font-family: "Poppins", sans-serif;
  border-bottom: 2px solid rgba(255, 255, 255, 0.18);
}
.icon-page {
  width: 40%;
  filter: drop-shadow(8px 8px 10px #090f2c);
}

.primary {
  margin-bottom: 2rem;
}

.about-txt {
  color: var(--grey-secondary);
  font-size: 6rem;
  font-weight: 700;
  line-height: 4rem;
}

.about-sub-txt {
  color: var(--grey-primary);
  font-size: 2.8rem;
  font-weight: 400;
  margin-bottom: 3rem;
}

.about-me {
  color: var(--grey-secondary);
  font-size: 1.8rem;
  color: var(--grey-secondary);
  filter: drop-shadow(2px 2px 5px #000);
  border-radius: 1rem;
  margin-bottom: 5rem;
}

.about-quote {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 0.5rem;
  font-family: "Inter Tight", sans-serif;
  color: var(--grey-primary);
}

.section {
  background-image: linear-gradient(to right, #327ade, #153777, #0b1133);
  padding: 5rem 10rem;
  font-family: "Poppins", sans-serif;
  border-bottom: 2px solid rgba(255, 255, 255, 0.18);
}

.section-projects_main,
.section-skills_main,
.section-contact_main {
  display: flex;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;

  color: var(--grey-primary);
}

.section-contact_main {
  justify-content: space-between;
  padding: 5rem;
}

.section-title {
  color: var(--grey-primary);
  font-size: 3rem;
  margin-bottom: 1rem;
}

/* .arrow-up {
  color: red;
  animation: animate-arrow 2s infinite;
  animation-direction: alternate;
  position: relative;
} */

/* @keyframes animate-arrow {
  from {
    top: 0px;
  }
  to {
    top: 20px;
  }
} */

@media (max-width: 970px) {
  .about-txt {
    font-size: 5rem;
  }
}

@media (max-width: 850px) {
  .about-txt {
    font-size: 4rem;
  }
}

@media (max-width: 770px) {
  .about-txt {
    font-size: 3.5rem;
  }

  .about-sub-txt {
    font-size: 2rem;
  }

  .primary {
    margin-bottom: 1.5rem;
  }

  .container-about {
    padding: 18rem 8rem;
  }

  .section-contact_main {
    justify-content: center;
    padding: 5rem;
  }
}

@media (max-width: 600px) {
  .icon-page {
    display: none;
  }

  .about-txt {
    font-size: 4rem;
  }
}

@media (max-width: 450px) {
  .container-about {
    padding: 15rem 5rem;
  }
  .about-txt {
    font-size: 4rem;
  }

  .about-sub-txt {
    font-size: 2rem;
  }

  .primary {
    margin-bottom: 0.5rem;
  }

  .section {
    padding: 3rem 5rem;
  }

  .section-contact_main {
    flex-direction: column;
    padding: 3rem;
  }

  .section-skills_main,
  .section-projects_main {
    justify-content: space-between;
  }
}
