@import url("../../styles/global.css");

.container-main {
  display: flex;
  flex-direction: column;

  height: 100vh;
  max-width: 100vw;
  background-color: #1c1b21;
  position: relative;
}

.container-about {
  width: 100%;
  min-height: 100%;
  background-image: url("../../assets/background-tech.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  padding: 20rem 10rem;
  font-family: "Poppins", sans-serif;
  border-bottom: 2px solid rgba(255, 255, 255, 0.18);
}
.primary {
  margin-bottom: 2rem;
}

.about-txt {
  color: var(--grey-secondary);
  font-size: 6rem;
  font-weight: 700;
  line-height: 3.8rem;
}

.about-sub-txt {
  color: var(--grey-primary);
  font-size: 2.8rem;
  font-weight: 400;
}

.section {
  background-image: linear-gradient(to right, #327ade, #153777, #0b1133);
  padding: 10rem;
  font-family: "Poppins", sans-serif;
  border-bottom: 2px solid rgba(255, 255, 255, 0.18);
}

.section-title {
  color: var(--grey-primary);
  font-size: 3rem;
}

@media (max-width: 770px) {
  .about-txt {
    font-size: 5rem;
  }

  .about-sub-txt {
    font-size: 2rem;
  }

  .primary {
    margin-bottom: 1.5rem;
  }

  .container-about {
    padding: 18rem 8rem;
  }
}

@media (max-width: 450px) {
  .about-txt {
    font-size: 3.5rem;
  }

  .about-sub-txt {
    font-size: 1.5rem;
  }

  .primary {
    margin-bottom: 0.5rem;
  }
}
