@import url("../../styles/global.css");
@import url("https://fonts.googleapis.com/css2?family=Carme&family=Inter+Tight:wght@300&display=swap");
.container-main {
  display: flex;
  flex-direction: column;

  min-height: calc(100vh - 10rem);
  max-width: 100vw;
  background-color: #1c1b21;
  position: relative;
}

.intro {
  width: 100%;
  min-height: 100%;
  background-image: linear-gradient(to right, #327ade, #153777, #0b1133);
  display: flex;
  justify-content: space-around;
  padding: 20rem 10rem;
  font-family: "Poppins", sans-serif;
  border-bottom: 2px solid rgba(255, 255, 255, 0.18);
}

.intro__left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 100%;
  min-height: 100%;
}

.intro__img {
  width: 40%;
  filter: drop-shadow(8px 8px 10px #090f2c);
}

.primary {
  margin-bottom: 2rem;
}

.intro__title {
  color: var(--grey-secondary);
  font-size: 6rem;
  font-weight: 700;
  line-height: 4rem;
}

.intro__sub-title {
  color: var(--grey-primary);
  font-size: 2.8rem;
  font-weight: 400;
  margin-bottom: 3rem;
}

.about-me {
  color: var(--grey-secondary);
  font-size: 1.8rem;
  color: var(--grey-secondary);
  filter: drop-shadow(2px 2px 5px #000);
  border-radius: 1rem;
  margin-bottom: 5rem;
}

.intro__citation {
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 100%;
  height: 100%;
  gap: 0.5rem;
  font-family: "Inter Tight", sans-serif;
  color: var(--grey-primary);
}

.section {
  background-image: linear-gradient(to right, #327ade, #153777, #0b1133);
  padding: 5rem 10rem;
  font-family: "Poppins", sans-serif;
  border-bottom: 2px solid rgba(255, 255, 255, 0.18);
}

.section-projects_main,
.section-skills_main {
  display: flex;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;

  color: var(--grey-primary);
}

.section-title {
  color: var(--grey-primary);
  font-size: 3rem;
  margin-bottom: 1rem;
}

@media (max-width: 970px) {
  .intro__title {
    font-size: 5rem;
  }
}

@media (max-width: 850px) {
  .intro__title {
    font-size: 4rem;
  }
}

@media (max-width: 770px) {
  .intro__title {
    font-size: 3.5rem;
  }

  .intro__sub-title {
    font-size: 2rem;
  }

  .primary {
    margin-bottom: 1.5rem;
  }

  .intro {
    padding: 18rem 8rem;
  }
}

@media (max-width: 600px) {
  .intro__img {
    display: none;
  }

  .intro__title {
    font-size: 4rem;
  }
}

@media (max-width: 450px) {
  .intro {
    padding: 15rem 5rem;
  }

  .intro__title {
    font-size: 4rem;
  }

  .intro__sub-title {
    font-size: 2rem;
  }

  .primary {
    margin-bottom: 0.5rem;
  }

  .section {
    padding: 3rem 5rem;
  }

  .section-skills_main,
  .section-projects_main {
    justify-content: space-between;
  }
}
